<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.bI.Perspective"
            id="org.eclipse.bI.perspective"
            icon="META-INF/icon.png"
            name="bI">
      </perspective>
   </extension>
   
   <extension point="org.eclipse.ui.perspectiveExtensions">
   		<perspectiveExtension targetID="org.eclipse.bI.perspective">
   			<hiddenMenuItem id="org.eclipse.ui.run"/>
   			<hiddenMenuItem id="org.eclipse.help.menu"/>
   			<hiddenMenuItem id="org.eclipse.ui.help"/>
   			<hiddenMenuItem id="org.eclipse.search.menu"/>
   		</perspectiveExtension>
   </extension>
   
   <extension point="org.eclipse.ui.activities">
   	  <activity
   	  		name="bI Activity"
   	  		description="Developing in bI: disable unwanted activities"
   	  		id="org.eclipse.bI.activity"
   	  />
   	  <activityPatternBinding
   	  		activityId="org.eclipse.bI.activity"
   	  		pattern="org.eclipse.cdt.*"
   	  />
   	  <activityPatternBinding
   	  		activityId="org.eclipse.bI.activity"
   	  		pattern="org.eclipse.jdt.*"
   	  />
   </extension>
   
</plugin>
